# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
config.py

# Poetry
.venv/
venv/

# ----------------------
# Environment variables
# ----------------------
.env
.env.*
!.env.example

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE
# ----------------------
.vscode/
.idea/

# ----------------------
# Build / cache
# ----------------------
.cache/
coverage/